
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f5f5f5;
    color: #2f2f2f;
}

header {
    background-color: #e0f2e9;
    padding: 2em;
    text-align: center;
}

h1 {
    font-size: 3em;
    margin: 0;
    color: #317b5c;
}

main {
    padding: 2em;
    text-align: center;
}

footer {
    background-color: #cde8db;
    text-align: center;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}
